@model List<ArticleDetailDto>
@{
    ViewData["Title"] = "Index";
    int UserId = Convert.ToInt32(ViewData["UserId"]);
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div id="mainContent" class="col-8 d-flex flex-wrap col-12 col-md-auto mb-2 align-items-start justify-content-center  p-1">
    <div class="row py-3 border rounded-3 shadow ">

        <form action="/share-content" method="post">
            <input type="hidden" value="@ViewData["UserId"]" name="UserId" />
            <input type="hidden" value="@DateTime.Now" name="SharingDate" />
            <div class="form-group w-100 mb-3">
                <label for="topic" class="d-block fw-bold">Bir Konu Seçiniz:</label>
                @await Component.InvokeAsync("_SharingContentForm")
                
                
            </div>
            <textarea id="summernote" class=" w-100" name="Content"></textarea>
            <button class="btn btn-outline-success float-end mt-2" type="submit">Paylaş</button>
        </form>
    </div>
    <!-- paylaşılan içerik başlangıç -->
    @if (Model != null && Model.Any())
    {
        foreach (var articleDetail in Model)
        {
            <div class="row mt-3 w-100">
                <div class="contentUserImage col-2 justify-content-start h-50 py-1 px-1 text-center">
                    <div class="userImageArea border py-3 mb-4 mt-3  h-auto">
                        <a class="d-inline-flex align-items-center text-decoration-none" href="">
                            <img src="http://localhost:65527/@articleDetail.UserImage" class="img-fluid img-thumbnail rounded-circle" width="50" height="50" alt="">
                        </a>
                        <h6>@articleDetail.UserName</h6>
                    </div>
                </div>
                <div class="contents col-10 border ps-3 py-3 ms-0 shadow">
                    <div class="mb-1">
                        <span class=""><b><i>#@articleDetail.TopicTitle</i></b></span>
                        @if (UserId == articleDetail.UserId)
                        {
                            <button type="button" class="btn btn-close float-end pt-3 delete-article" data-article="@articleDetail.Id" aria-label="Close" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
                            <button class="btn btn-outline-warning  border-0 float-end get-article" data-article="@articleDetail.Id" data-bs-toggle="modal" data-bs-target="#articleUpdateModal"><i class="bi bi-pencil-square"></i></button>
                        }
                    </div>
                    @Html.Raw(articleDetail.Content)

                    <div class="pt-3 ps-2 pe-2">
                        <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Yorumlar
                        </button>
                        <ul class="dropdown dropdown-menu comment w-50 h-50 overflow-auto px-3">
                            <h4 class="text-center">Yorumlar</h4>
                            <!-- Yorum Alanı Başlangıç -->
                            @if (articleDetail.CommentDetails != null && articleDetail.CommentDetails.Any())
                            {
                                @foreach (var comment in articleDetail.CommentDetails)
                                {
                                    <div class="d-flex flex-wrap col-12 col-md-auto mb-2 align-items-center justify-content-center">
                                        <div class="contentUserImage col-2 justify-content-start h-25 py-1 px-1 text-center">
                                            <div class="userImageArea border py-3 mb-4 mt-3 h-auto">
                                                <a class="d-inline-flex align-items-center text-decoration-none" href="#">
                                                    <img class="img-fluid rounded-circle " src="http://localhost:65527/@comment.Image" width="50" height="50" alt="">
                                                </a>
                                                <h6>@comment.UserName</h6>
                                            </div>
                                        </div>
                                        <div class="col-10 border ps-3 py-3 ms-0 shadow">
                                            <div class="mb-1">
                                                @if (UserId == comment.UserId)
                                                {
                                                    <button type="button" class="btn btn-close float-end delete-comment me-2" data-comment="@comment.Id" aria-label="Close" data-bs-toggle="modal" data-bs-target="#exampleModal1"></button>
                                                }
                                            </div>
                                            @comment.CommentText
                                        </div>
                                    </div>
                                }
                            }
                            <!-- Yorum Alanı bitiş -->
                            <div class="dropdown-item w-100 mb-3">
                                <form action="#" method="post">
                                    <label for="commentText">Yorumunuz : </label>
                                    <input type="text" name="CommentText" class="form-control" placeholder="Yorumunuzu buraya yazın">
                                    <button type="button" class="btn btn-success float-end mt-2 mb-2 comment-form" data-id="@articleDetail.Id">Yorum Yap</button>
                                </form>
                            </div>
                        </ul>
                        <button class="btn btn-outline-secondary float-end">@articleDetail.SharingDate</button>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>No data available.</p>
    }
    <!-- paylaşılan içerik bitiş -->
</div>
@await Component.InvokeAsync("_RightSide")
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-warning text-center mx-auto w-100 fs-3" id="exampleModalLabel">UYARI !!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/delete-article" method="post">
                    <div class="input-group mt-3 mb-3">
                        <input type="hidden" name="id" class="form-control" id="articleId">
                        <span>Bu paylaşımı silmek istediğinizden emin misiniz ?</span>
                        <span>Bu işlemi geri alamazsınız !</span>
                    </div>

                    <div class="modal-footer text-center">
                        <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">iptal</button>
                        <button class="btn btn-success">Sil</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal1 -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-warning text-center mx-auto w-100 fs-3" id="exampleModalLabel1">UYARI !!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/delete-comment" method="post">
                    <div class="input-group mt-3 mb-3">
                        <input type="hidden" name="id" class="form-control" id="commentId">
                        <span>Bu yorumu silmek istediğinizden emin misiniz ?</span>
                        <span>Bu işlemi geri alamazsınız !</span>
                    </div>

                    <div class="modal-footer text-center">
                        <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">iptal</button>
                        <button class="btn btn-success">Sil</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- articleUpdateModal -->
<div class="modal modal-lg fade" id="articleUpdateModal" tabindex="-1" aria-labelledby="articleUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-warning text-center mx-auto w-100 fs-3 " id="articleUpdateModalLabel">Güncelleme İşlemi</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/update-content" method="post">
                    <div class="form-group w-100 mb-3">
                        <input type="hidden" name="Id" id="Id"/>
                        <input type="hidden" value="@ViewData["UserId"]" name="UserId" />
                        <input type="hidden" value="@DateTime.Now" name="SharingDate" />
                        <label for="topic" class="d-block fw-bold">Bir Konu Seçiniz:</label>
                        <select class="form-select select-topic" name="TopicId" aria-label="Konular">
                            <option>-Lütfen Bir Konu Başlığı Seçiniz-</option>
                        </select>
                    </div>
                    <div class="input-group mt-3 mb-3">
                        <textarea id="summernote1" class=" w-100" name="Content"></textarea>
                    </div>
                    
                    <div class="modal-footer text-center">
                        <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">iptal</button>
                        <button class="btn btn-success">Güncelle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {

            $(".contents > * > img").addClass("img-fluid");
            $(".comment-form").on("click", function (e) {
                e.preventDefault();
                var form = $(this).closest('form');
                var ArticleId = $(this).data("id");
                var UserId = @ViewData["UserId"];
                var CommentText = form.find('input[name=CommentText]').val();
                var CommentDate = new Date().toLocaleString();

                console.log(ArticleId + " , " + UserId + " , " + CommentText + " , " + CommentDate);

                $.ajax({
                    type: "POST",
                    url: "/post-comment",
                    data: {
                        ArticleId: ArticleId,
                        UserId: UserId,
                        CommentText: CommentText,
                        CommentDate: CommentDate,
                    },
                    success: function (response) {
                        window.location.reload();
                    },
                    error: function (xhr, status, error) {
                        console.error("Ajax Error:", error);
                    },
                });
            })

            $(".get-article").on("click", function (e) {
                e.preventDefault();
                var ArticleId = $(this).data("article");
                console.log(ArticleId);
                
                $.ajax({
                    type: "GET",
                    url: "/getarticlebyid",
                    data: {
                        id: ArticleId
                    },
                    success: function (response) {
                        console.log(response.article);
                        console.log(response.topics);
                        $("#Id").val(ArticleId);
                        $("#summernote1").summernote('code', response.article.content);
                        var tag = $(".select-topic");
                        tag.empty();
                        $.each(response.topics, function (index, item) {
                            console.log(item.content);
                            var option = `<option value="${item.id}" ${item.id == response.article.topicId ? 'selected' : ''}>${item.topicTitle}</option>`;
                            tag.append(option);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error("Ajax Error:", error);
                    },
                });
            })

            $(".delete-article").on("click", function (e) {
                e.preventDefault();
                var ArticleId = $(this).data("article");
                console.log(ArticleId);
                $("#articleId").val(ArticleId);
            })

            $(".delete-comment").on("click", function (e) {
                e.preventDefault();
                var CommentId = $(this).data("comment");
                console.log(CommentId);
                $("#commentId").val(CommentId);
            })
        });
    </script>

}
