@model ArticleDetailDto
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">@Model.TopicTitle</h5>
        </div>
        <div class="card-body">
            <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="true">Paylaşım</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile" aria-selected="false">Yorum</a>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <p class='my-2'>
                        @Html.Raw(Model.Content)
                    </p>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    @foreach (var item in Model.CommentDetails)
                    {
                        <div class="row border border-light border-2 rounded-3 p-2 mb-2">
                            <div class="col-1 text-center" style="border-right:2px solid #ced4da">
                                @if (item.Image == "")
                                {
                                    <img class="img-fluid mb-2" src="https://localhost:44345/images/default.jpg" />
                                }
                                else
                                {
                                    <img class="img-fluid mb-2" src="https://localhost:44345/@item.Image" />
                                }
                                <small style="font-size:0.7em;">@item.CommentDate.ToShortDateString()</small>
                                <small style="font-size:0.7em;">@item.CommentDate.ToShortTimeString()</small>
                            </div>
                            <div class="col-11">
                                <ul class="list-group comment-list">
                                    <h6 id="userId" data-id="@item.UserId">@item.UserName</h6>
                                    <h6 id="articleId" data-id="@item.ArticleId" hidden></h6>
                                    <li class="list-group-item comment d-flex justify-content-between align-items-center">
                                        <span id="commentText">@item.CommentText</span>
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <button class="btn btn-sm btn-success ms-2 update-btn" data-id="@item.Id" data-bs-toggle="modal"
                                                        data-bs-target="#inlineForm">
                                                    <i class="bi bi-pencil-square"></i>
                                                </button>
                                            </li>
                                            <li class="list-group-item">
                                                <button class="btn btn-sm btn-danger ms-2 delete-btn" data-id="@item.Id">
                                                    <i class="bi bi-x-lg"></i>
                                                </button>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade text-left" id="inlineForm" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel33">Yorum Güncelleme Formu </h4>
                <button type="button" class="close" data-bs-dismiss="modal"
                        aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <form id="UpdateCommentForm">
                <div class="modal-body">
                    <label for="email">Yorum: </label>
                    <div class="form-group">
                        <input type="hidden" name="Id">
                        <input type="hidden" name="UserId">
                        <input type="text" name="CommentText" class="form-control">
                        <input type="hidden" name="CommentDate" value="@DateTime.Now" class="form-control">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-light-secondary"
                            data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">İptal</span>
                    </button>
                    <button type="submit" class="btn btn-primary ms-1"
                            data-bs-dismiss="modal">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Güncelle</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            function Toast(message) {
                Toastify({
                    text: message,
                    duration: 3000,
                    close: true,
                    gravity: "top",
                    position: "center",
                    backgroundColor: "#4fbe87",
                }).showToast();
            }

            $(".update-btn").on("click", function (e) {
                e.preventDefault();
                var id = $(this).data("id");
                var userId = $(this).closest(".comment-list").find("#userId").data("id");
                var commentText = $(this).closest(".comment").find("#commentText").text();
                $("input[name=CommentText]").val(commentText);
                $("input[name=Id]").val(id);
                $("input[name=UserId]").val(userId);

            });

            $("#UpdateCommentForm").on("submit", function (e) {
                e.preventDefault();

                $.ajax({
                    type: "POST",
                    url: "/Admin/Home/UpdateComment",
                    data: {
                        Id: $("input[name=Id]").val(),
                        UserId: $("input[name=UserId]").val(),
                        ArticleId: $("#articleId").data("id"),
                        CommentText: $("input[name=CommentText]").val(),
                        CommentDate: $("input[name=CommentDate]").val()
                    },
                    success: function (response) {
                        Toast(response.message);

                        setTimeout(function () {
                            window.location.reload();
                        }, 3000);
                    }, error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });

            $(".delete-btn").on("click", function (e) {
                e.preventDefault();
                var id = $(this).data("id");
                console.log(id);
                $.ajax({
                    type: "DELETE",
                    url: "/Admin/Home/CommentDelete/" + id,
                    success: function (response) {
                        console.log(response);
                        Toast(response.message);

                        setTimeout(function () {
                            window.location.reload();
                        }, 3000);
                    }, error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });

        })
    </script>
}
