@model List<ClaimDto>
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title d-inline">
                Yetkiler
            </h5>
            <button class="btn btn-outline-primary float-end add-btn" data-bs-toggle="modal" data-bs-target="#AssigningAuthority">
                Kullanıcı Ekle
            </button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="table1">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Kullanıcı Adı</th>
                            <th>Yetki Adı</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td id="name" data-id="@item.UserId">@item.UserName</td>
                                <td id="claimId" data-id="@item.OperationClaimId">@item.ClaimName</td>
                                <td class="d-flex justify-content-center">

                                    <button class="btn btn-outline-warning mx-2 update-btn" data-id="@item.Id">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                    <button class="btn btn-outline-danger delete-btn" data-id="@item.Id">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




@await Component.InvokeAsync("_AssignAuthority")
@await Component.InvokeAsync("_GetClaimComponent")

@section scripts {
    <script>
        $(document).ready(function () {
            function Toast(message) {
                Toastify({
                    text: message,
                    duration: 3000,
                    close: true,
                    gravity: "top",
                    position: "center",
                    backgroundColor: "#4fbe87",
                }).showToast();
            }
            $(".add-btn").on("click", function () {
                var claimId = @ViewBag.ClaimId;
                $("#addUserClaim option").prop("disabled", true);
                $("#addUserClaim option[value=" + claimId + "]").prop("selected", true).prop("disabled", false);

            });

            $(".update-btn").on("click", function (e) {
                e.preventDefault();

                $("#inlineForm").modal("show");
                var id = $(this).data("id");
                var userId = $(this).closest("tr").find("#name").data("id");
                var userName = $(this).closest("tr").find("#name").text();
                var claimId = $(this).closest("tr").find("#claimId").data("id");
                $("input[id=Id]").val(id);
                $("input[name=Name]").val(userName);
                $("input[id=UserId]").val(userId);
                $("#updateUserClaim").val(claimId);


            })

            $("#userClaimUpdate").on("submit", function (e) {
                e.preventDefault();

                $.ajax({
                    type: "PUT",
                    url: "/Admin/Claim/UserClaimUpdate/",
                    data: $(this).serialize(),
                    success: function (response) {
                        Toast(response.message);

                        setTimeout(function () {
                            window.location.reload();
                        }, 3000);
                    }, error: function (xhr, status, error) {
                        console.error(error);
                    }
                })

            })

            $("#userClaimAdd").on("submit", function (e) {
                e.preventDefault();

                $.ajax({
                    type: "POST",
                    url: "/Admin/Claim/UserClaimAdd/",
                    data: $(this).serialize(),
                    success: function (response) {
                        Toast(response.message);

                        setTimeout(function () {
                            window.location.reload();
                        }, 3000);
                    }, error: function (xhr, status, error) {
                        console.error(error);
                    }
                })

            })


            $(".delete-btn").on("click", function (e) {
                e.preventDefault();
                var userId = $(this).closest("tr").find("#name").data("id");
                var claimId = $(this).closest("tr").find("#claimId").data("id");
                $.ajax({
                    type: "DELETE",
                    url: "/Admin/Claim/UserClaimDelete/",
                    data: {
                        userId: userId, claimId: claimId
                    },
                    success: function (response) {
                        Toast(response.message);

                        if (response.url) {
                            setTimeout(function () {
                                window.location.href = response.url;
                            }, 3000);
                        } else {
                            setTimeout(function () {
                                window.location.reload();
                            }, 3000);
                        }
                    }, error: function (xhr, status, error) {
                        console.error(error);
                    }
                })
            })

        })
    </script>
}




