@model List<UserDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title d-inline">
                Kullanıcılar
            </h5>
            <a class="btn btn-outline-primary float-end" href="/Admin/User/ExportUsers"><i class="bi bi-arrow-down-circle me-2"></i>Dışa Aktar</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="table1">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Kullanıcı Adı</th>
                            <th>Email</th>
                            <th>Cinsiyet</th>
                            <th>Durum</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.FirstName @item.LastName</td>
                                <td>@item.Email</td>
                                <td>@item.Gender</td>
                                <td><span class="badge bg-success">Active</span></td>
                                <td class="d-flex justify-content-center">
                                    <a class="btn btn-outline-success " href="/Admin/User/Detail/@item.Id">
                                        <i class="bi bi-eye-fill"></i>
                                    </a>
                                    <a class="btn btn-outline-warning mx-2 update-button" href="#">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <button class="btn btn-outline-danger delete-btn" data-id="@item.Id">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            function Toast(message) {
                Toastify({
                    text: message,
                    duration: 3000,
                    close: true,
                    gravity: "top",
                    position: "center",
                    backgroundColor: "#4fbe87",
                }).showToast();
            }


            $(".delete-btn").on("click", function (e) {
                e.preventDefault();
                var id = $(this).data("id");
                $.ajax({
                    type: "DELETE",
                    url: "/Admin/User/Delete/" + id,
                    success: function (response) {
                        Toast(response.message);

                        setTimeout(function () {
                            window.location.reload();
                        }, 3000);
                    }, error: function (xhr, status, error) {
                        console.error(error);
                    }
                })
            })

        })
    </script>
}


