@model UserDto
@{
    ViewData["Title"] = "AccountSetting";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div id="mainContent" class="col-10 d-flex flex-wrap col-12 col-md-auto mb-2 align-items-start p-1">

    <div class="row">
        <h4 class="text-center mb-4"> - Kullanıcı Bilgilerim - </h4>
        <form action="/bilgileri-guncelle" method="post" enctype="multipart/form-data">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="input-group">
                <span class="input-group-text">Ad - Soyad</span>
                <input type="text" name="FirstName" aria-label="First name" value="@Model.FirstName" class="form-control">
                <input type="text" name="LastName" aria-label="Last name" value="@Model.LastName" class="form-control">
            </div>

            <div class="input-group mt-3 mb-3">
                <span for="exampleInputEmail1" class="input-group-text">E-posta Adresiniz</span>
                <input type="email" class="form-control" name="Email" value="@Model.Email" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

            <div class="input-group mt-3 mb-3">
                <span for="exampleInputEmail1" class="input-group-text">Şifreniz</span>
                <input type="password" class="form-control" name="password" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

            <div class="input-group mt-3 mb-3">
                <span for="exampleInputEmail1" class="input-group-text">Şifre Tekrar</span>
                <input type="password" class="form-control" name="password" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

            <div class="input-group mt-3 mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Cinsiyet</label>
                <select class="form-select" name="Gender" id="inputGroupSelect01">
                    <option value="" disabled> Cinsiyetinizi seçin </option>
                    @{
                        var genderOptions = new[]
                        {
                            new { Value = "E", Text = "Erkek" },
                            new { Value = "K", Text = "Kadın" },
                            new { Value = "B", Text = "Belirtmek istemiyorum" }
                        };
                    }
                    @foreach (var option in genderOptions)
                    {
                        if (Model.Gender == option.Value)
                        {
                            <option value="@option.Value" selected>@option.Text</option>
                        }
                        else
                        {
                            <option value="@option.Value">@option.Text</option>
                        }
                    }
                </select>
            </div>

            <div class="input-group mt-3 mb-3">
                <span for="exampleInputEmail1" class="input-group-text">Cep telefonu </span>
                <input type="tel" id="tel" class="form-control" name="PhoneNumber" value="@Model.PhoneNumber" aria-describedby="emailHelp">
            </div>

            <div class="input-group d-flex justify-content-center mt-1 mb-1">
                <img src="http://localhost:65525/images/@Model.ImagePath" width="150" height="150" />
            </div>

            <div class="input-group mt-3 mb-3">
                <input type="file" name="Image" class="form-control" id="inputGroupFile02">
                <label class="input-group-text" for="inputGroupFile02">Profil Fotoğrafı</label>
            </div>
            <div class="text-center">
                <button class="btn btn-primary">Bilgilerimi Güncelle</button>
            </div>
        </form>
    </div>

</div>

